/* MAIN */
.home {
  font-family: Arial, sans-serif;
}

/* ===== HERO ===== */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("https://images.unsplash.com/photo-1523240795612-9a054b0db644");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-text {
  color: #ff7a18;
  font-weight: bold;
}

.hero h1 {
  color: white;
  font-size: 48px;
}

.hero span {
  color: #ff7a18;
}

.hero p {
  color: #ddd;
  margin: 20px 0;
}

/* SEARCH */
.search-box {
  display: flex;
  background: white;
  border-radius: 50px;
  padding: 5px;
}

.search-box input {
  border: none;
  padding: 10px;
  outline: none;
}

.search-box button {
  background: linear-gradient(90deg, #ff7a18, #ff4b2b);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
}

/* ===== FEATURES ===== */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -40px;
}

.feature-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ===== MODES SECTION ===== */
.modes-section {
  padding: 60px 20px;
  text-align: center;
  background: #f5f7fa;
}

.modes-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* CONTAINER */
.modes-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.mode-card {
  background: white;
  width: 300px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.mode-card:hover {
  transform: translateY(-5px);
}

/* ICON */
.mode-icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(90deg, #ff7a18, #ff4b2b);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin: 0 auto 15px;
}

/* TEXT */
.mode-card h3 {
  margin-bottom: 10px;
}

.mode-card p {
  color: #666;
}

/* ===== BRANCHES ===== */
.branches-section {
  padding: 60px 20px;
  text-align: center;
}

.branches-section h2 {
  margin-bottom: 20px;
}



/* GRID */
.branches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.branch-card {
  background: linear-gradient(135deg, #ff7a18, #ff4b2b);
  color: white;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.branch-card:hover {
  transform: translateY(-5px);
}