/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== TOP BAR ===== */
.topbar {
  background-color: #f58220;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  font-size: 15px;
  font-weight: 500;
}



/* LEFT TEXT */
.top-left {
  color: black;
}

/* RIGHT ICONS */
.top-right {
  display: flex;
  align-items: center;
  gap: 15px;   /* spacing between icons */
}

/* ICON STYLE */
.top-right span {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

/* ICON HOVER */
.top-right span:hover {
  transform: scale(1.2);
}

/* ===== MAIN NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #ffffff;   /* white navbar */
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* ===== LOGO ===== */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Highlight "4All" */
.logo-text span {
  color: #f58220;
}

/* ===== NAV LINKS ===== */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

/* HOVER */
.nav-links a:hover {
  color: #f58220;
}